@{
    ViewData["Title"] = "About";
}

<main class="container container-narrow">
    <div class="row">
        <div class="col-12  text-center">
            <img src="/assets/images/abouteme.jpg" width="100%" alt="">
        </div>

        <div class="col-12 mt-3 text-center">
            <h3 class="post-title">About Me</h3>
        </div>
        <div class="border-partial"></div>
        
        <div class="col-12">
            <p>Lorem ipsum dolor sit amet, consectetur adiit amet, consectetur adipisicing elitit amet, consectetur adipisicing elit amet, consectetur adipisicing elit amet, consectetur adipisicing elit amet, consectetur adipisicing elit amet, consectetur adipisicing elit amet, consectetur adipisicing elit amet, consectetur adipisicing elit amet, consectetur adipisicing elit amet, consectetur adipisicing el amet, consectetur adipisicing elit amet, consectetur adipisicing elpisicing elit. Saepe nostrum ullam eveniet pariatur voluptates odit, fuga atque ea nobis sit soluta odio, adipisci quas excepturi maxime quae totam ducimus consectetur?</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius praesentium recusandae illo eaque architecto error, repellendus iusto reprehenderit, doloribus, minus sunt. Numquam at quae voluptatum in officia voluptas voluptatibus, minus!</p>
            <p>
        </div>
    </div>
</main>