@{
    ViewData["Title"] = "About";
}

<main class="container container-narrow">
    <div class="row">
        <div class="col-12 mt-3  text-center">
            <img src="/assets/images/abouteme.jpg" alt="about me img">
        </div>

        <div class="col-12 mt-3 text-center">
            <h3 class="post-title">About Me</h3>
        </div>
        <div class="border-partial"></div>

        <div class="col-12">
            <p class="text-center">My name is Pawel Slugocki and I am Back-End focused Full Stack .NET Developer. I live in Wroclaw, Poland.</p>
            <p>I've worked in international corporation as an accountant, where I was introduced to programming/process automation topics. Quickly, I've learnt that helping my team to automate repetitive tasks and help business in solving business problems via technology is the right direction to develop my carrer. That's how I started my web developer journey.</p>
            <p>Today, I build web applications using .Net Core framework and other technologies. I consider myself as full-stack developer, but I am more focused on the back-end side of app development.</p>
            <p class="text-center">Feel free to visit my <a href="#">portfolio here</a>.</p>

        </div>
    </div>
</main>