@model TheBlog.ViewModels.ContactMe

@{
    ViewData["Title"] = "Contact";
}

<div class="container">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <p>Want to get in touch? Fill out the form below to send me a message and I will get back to you as soon as possible!</p>
            <div class="my-5">
                <form asp-controller="Home" asp-action="Contact">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-floating">
                        <input asp-for="Name" class="form-control" type="text" placeholder="Enter your name..."/>
                        <label asp-for="Name">Name</label>
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-floating">
                        <input asp-for="Email" class="form-control" type="email" placeholder="Enter your email..."/>
                        <label asp-for="Email">Email address</label>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-floating">
                        <input asp-for="Phone" class="form-control" type="tel" placeholder="Enter your phone number..."/>
                        <label asp-for="Phone">Phone Number</label>
                    </div>
                    <div class="form-floating">
                        <input asp-for="Subject" class="form-control" type="text" placeholder="Enter a message subject..."/>
                        <label asp-for="Subject">Subject</label>
                        <span asp-validation-for="Subject" class="text-danger"></span>
                    </div>
                    <div class="form-floating">
                        <textarea asp-for="Message" class="form-control" placeholder="Enter your message here..." style="height: 12rem"></textarea>
                        <label asp-for="Message">Message</label>
                        <span asp-validation-for="Message" class="text-danger"></span>
                    </div>
                    <br/>
                    <div id="success"></div>
                    <button class="btn btn-primary text-uppercase" id="sendMessageButton" type="submit">Send</button>
                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        //Default font size but not for placeholder...
        $('#Message').summernote({
            placeholder: "Message"
        });
    </script>
}