<header class="container-fluid border-bottom d-none d-md-block">
    <div class="container container-narrow">
        <div class="row py-4">
            <div class="col-2 d-flex align-items-center">
                <a class="" href="">
                    <i class="fab fa-linkedin-in " aria-hidden="true" title="Linked In"></i>
                </a>
                <a href="">
                    <i class="fab fa-github mx-2" aria-hidden="true" title="Github"></i>
                </a>
                <a href="">
                    <i class="fab fa-slack-hash" aria-hidden="true" title="Portfolio Page"></i>
                </a>
            </div>
            <a class="col-8 text-center  m-0" asp-controller="Home" asp-action="Index">
                <img src="/assets/images/logo/logo3.svg" alt="logo" style="height: 40px;"/>
            </a>
            <div class="col-2 d-flex flex-row-reverse align-items-center">
                <a href="" role="button" id="userDropDown" data-bs-toggle="dropdown"
                   aria-expanded="false">
                    <i class="fas fa-user" title="Manage User"></i>
                </a>
                <ul class="dropdown-menu on-top drop-menu " aria-labelledby="userDropDown">
                    <partial name="_LoginPartial"/>
                </ul>
                <a>
                    <i class="fas fa-search me-2" id="searchIconDesktop" title="Search"></i>
                </a>
            </div>
        </div>
    </div>
</header>