<div class="row">
    <div class="text-center">
        <div class="col-12 mt-md-0">
            <h3 class="widget-title mt-md-0 mt-4">About Me</h3>
        </div>
        <div class="col-12 border-partial"></div>
        <div class="col-12">
            <img class="img" width="100%" src="/assets/images/wid-aboutme.png" alt="">
        </div>
        <div class="col-12">
            <p class="mt-4">On the other hand, we denounce with righteous indignation and dislike men who are beguiledand demoralized charms.</p>
        </div>
        <div class="col-12">
            <a class="post-link" asp-controller="Home" asp-action="About">READ MORE</a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 mt-4 text-center">
        <div class="mt-md-5 mt-2">
            <h3 class="widget-title">Categories</h3>
        </div>
        <div class="col-12 border-partial"></div>
        <div class="col-12">
            <ul class="ps-0 bg-white ">
                @foreach (var category in ViewData["Categories"] as IList<Category>)
                {
                    <li class="categories">
                        <a class="category-link" asp-controller="Categories" asp-action="CategoryIndex" asp-route-categoryName="@category.Name.ToLower()">@category.Name</a>
                    </li>
                }

            </ul>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 mt-4 text-center">
        <div class="col-12 mt-md-5">
            <h3 class="widget-title">Follow Me</h3>
        </div>
        <div class="col-12 border-partial"></div>
        <div class="col-12">
            <ul class="list-group list-group-horizontal justify-content-center follow-icons ">
                <li>
                    <a class="" href="">
                        <i class="fab fa-linkedin-in " aria-hidden="true" title="Linked In"></i>
                    </a>
                </li>
                <li>
                    <a href="">
                        <i class="fab fa-github mx-2" aria-hidden="true" title="Github"></i>
                    </a>
                </li>
                <li>
                    <a href="">
                        <i class="fab fa-slack-hash" aria-hidden="true" title="Portfolio Page"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 mt-4 text-center">
        <div class="col-12 mt-3 mt-md-5">
            <h3 class="widget-title">Tags</h3>
        </div>
        <div class="col-12 border-partial"></div>
        <div class="col-12 tagcloud">
            @foreach (var tag in ViewData["DistinctTags"] as IList<Tag>)
            {
                <a asp-controller="Posts" asp-action="TagIndex" asp-route-tagText="@tag.Text.ToLower()">@tag.Text</a>
            }
        </div>
    </div>
</div>