<footer class="container-fluid pt-4 mt-3 bg-light-custom">
    <div class="row">
        <div class="col-12 mt-3">
            <ul class="list-group list-group-horizontal-sm justify-content-center text-center footer-social">
                <li class="list-group-item border-0 bg-light-custom">
                    <a target="_blank" href="https://www.linkedin.com/in/slugocki/" >
                        <i class="fab fa-linkedin-in" aria-hidden="true" title="Linked In"><strong class="ms-2">linkedin</strong></i>
                    </a>
                </li>
                <li class="list-group-item border-0 bg-light-custom">
                    <a target="_blank" href="https://github.com/SlugockiPawel">
                        <i class="fab fa-github" title="Github" aria-hidden="true"><strong class="ms-2">github</strong></i>
                    </a>
                </li>
                <li class="list-group-item border-0 bg-light-custom">
                    <a target="_blank" href="https://www.slugocki.com.pl" >
                        <i class="fab fa-slack-hash" title="Portfolio" aria-hidden="true"><strong class="ms-2">portfolio</strong></i>
                    </a>
                </li>
            </ul>
            
            <div class="border-partial"></div>
            <div class="text-center mb-4 ">
                <p class="footer-copyright">&copy; @DateTime.Today.Year Pawel Slugocki</p>
            </div>
        </div>
    </div>
</footer>