@using TheBlog.Enums
@model TheBlog.Models.Post

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Post</h4>
<hr/>
<div class="row">
    <div class="col-md-8">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-form-label">
                <label asp-for="BlogId" class="col-form-label"></label>
                <select asp-for="BlogId" class="form-control" asp-items="ViewBag.BlogId"></select>
            </div>

            <div class="col-form-label">
                <label asp-for="Title" class="col-form-label"></label>
                <input asp-for="Title" class="form-control"/>
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="col-form-label">
                <label asp-for="Abstract" class="col-form-label"></label>
                <textarea asp-for="Abstract" class="form-control"></textarea>
                <span asp-validation-for="Abstract" class="text-danger"></span>
            </div>
            <div class="col-form-label">
                <label asp-for="Content" class="col-form-label"></label>
                <textarea asp-for="Content" class="form-control"></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>

            <div class="col-form-label">
                <div class="row">
                    <div class="col-12">
                        <label class="col-form-label">Manage Tags</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="row">
                            <div class="col-12 mb-2">
                                <input type="text" class="form-control" id="TagEntry"/>
                            </div>
                            <div class="row d-flex p-0">
                                <div class="col-6  align-items-center">
                                    <button name="Add" type="button" class="col-12 btn  btn-dark  border-radius-10">Add</button>
                                </div>
                                <div class="col-6 pe-0">
                                    <button name="Delete" type="button" class="col-12 btn  btn-dark border-radius-10">Delete</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <select class="form-select" name="TagValues" id="TagList" multiple></select>
                    </div>
                </div>
                <label asp-for="Content" class="col-form-label"></label>
                <textarea asp-for="Content" class="form-control"></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>


            <div class="col-form-label">
                <label asp-for="ReadyStatus" class="col-form-label"></label>
                <select asp-for="ReadyStatus" asp-items="@Html.GetEnumSelectList<ReadyStatus>()" class="form-control"></select>
                <span asp-validation-for="ReadyStatus" class="text-danger"></span>
            </div>
            <div class="col-form-label mb-2">
                <label asp-for="Image" class="col-form-label"></label>
                <input type="file" asp-for="Image" class="form-control"/>
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="col-12 mb-3">
                <button type="submit" class="col-12 btn btn-dark border-radius-10">Create</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script>
        //Default font size but not for placeholder...
        $('#Content').summernote({
            placeholder: "Post Body"
        });
    </script>
}