@using TheBlog.Enums
@model TheBlog.Models.Post

@{
    ViewData["Title"] = "Create";
}

<div class="container container-narrow">
    <h1>Create</h1>

    <h4>Post</h4>

    <div class="row">
        <div class="col-md-10">
            <hr/>
            <form asp-action="Create" enctype="multipart/form-data" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="col-form-label">
                    <label asp-for="BlogId" class="col-form-label"></label>
                    <select asp-for="BlogId" class="form-control" asp-items="ViewBag.BlogId"></select>
                </div>

                <div class="col-form-label">
                    <label asp-for="Title" class="col-form-label"></label>
                    <input asp-for="Title" class="form-control"/>
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="col-form-label">
                    <label asp-for="Abstract" class="col-form-label"></label>
                    <textarea asp-for="Abstract" class="form-control"></textarea>
                    <span asp-validation-for="Abstract" class="text-danger"></span>
                </div>
                <div class="col-form-label">
                    <label asp-for="Content" class="col-form-label"></label>
                    <textarea id="Content" asp-for="Content" class="form-control"></textarea>
                    <span asp-validation-for="Content" class="text-danger"></span>
                </div>

                <div class="col-form-label">
                    <div class="row">
                        <div class="col-12">
                            <label class="col-form-label">Manage Tags</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-12 mb-2">
                            <input type="text" class="form-control" id="TagEntry"/>
                            <div class="d-flex justify-content-between p-0 mt-1">
                                <div class="col-6 pe-2">
                                    <button onclick="AddTag()" name="Add" type="button" class="w-100 d-block btn btn-dark">Add</button>
                                </div>
                                <div class="col-6 ps-2 ">
                                    <button onclick="DeleteTag()" name="Delete" type="button" class="w-100 btn btn-dark">Delete</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-12">
                            <select class="form-select" name="TagValues" id="TagList" multiple></select>
                        </div>
                    </div>
                </div>
                <div class="col-form-label">
                    <label asp-for="ReadyStatus" class="col-form-label"></label>
                    <select asp-for="ReadyStatus" asp-items="@Html.GetEnumSelectList<ReadyStatus>()" class="form-control"></select>
                    <span asp-validation-for="ReadyStatus" class="text-danger"></span>
                </div>
                <div class="col-form-label mb-2">
                    <label asp-for="Image" class="col-form-label"></label>
                    <input type="file" asp-for="Image" class="form-control"/>
                    <span asp-validation-for="Image" class="text-danger"></span>
                </div>
                <div class="col-12 mb-3">
                    <button type="submit" class="col-12 btn btn-dark border-radius-10">Create</button>
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

    <script>
        const tagValues = '@ViewData["TagValues"]';
    </script>


    <script src="~/js/custom.js"></script>

    <script src="https://cdn.tiny.cloud/1/tv28afnlksy5pcdujc7cm4wux2bz90plbuh7aokmcy43jx7z/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        tinymce.init({
            selector: 'textarea#Content',
            plugins: 'print preview paste importcss searchreplace autolink autosave save directionality code visualblocks visualchars fullscreen image link media template codesample table charmap hr pagebreak nonbreaking anchor toc insertdatetime advlist lists wordcount imagetools textpattern noneditable help quickbars emoticons Advanced List Autoresize BBCode Character Map Code Sample Full Page Full Screen Horizontal Rule Image Tools Import CSS Insert Date/Time Legacy Output Nonbreaking Space Page Break Quick Toolbars Search and Replace Spell Checker Tab Focus Text Pattern Table of Contents Visual Blocks Visual Characters Word Count ',
            imagetools_cors_hosts: ['picsum.photos'],
            menubar: 'file edit view insert format tools table help',
            toolbar: 'undo redo | bold italic underline strikethrough | fontselect fontsizeselect formatselect | alignleft aligncenter alignright alignjustify | outdent indent |  numlist bullist | forecolor backcolor removeformat | pagebreak | charmap emoticons | fullscreen  preview save print | insertfile image media template link anchor codesample | ltr rtl',
            toolbar_sticky: true,
            autosave_ask_before_unload: true,
            autosave_interval: '30s',
            autosave_prefix: '{path}{query}-{id}-',
            autosave_restore_when_empty: false,
            autosave_retention: '2m',
            image_advtab: true,
            toolbar_mode: 'sliding',
        });
    </script>

}