@model TheBlog.Models.Post

@{
    ViewData["Title"] = "Details";
}

<!-- Post Content-->
<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                @Html.Raw(Model.Content)
            </div>
        </div>
    </div>
</article>


<hr/>

<article>
    <div class="row">
        <div class="col text-center h3 fw-bolder">
            Custom Post Tags
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            @foreach (var tag in Model.Tags)
            {
                <a class="btn btn-warning btn-outline-dark border-radius-10" asp-action="TagIndex" asp-route-tag="@tag.Text.ToLower()">#@tag.Text</a> //TagIndex?
            }
        </div>
    </div>
</article>


<hr/>

@* Displaying Comments related to this post *@

<div>
    @if (User.Identity.IsAuthenticated)
    {
        <form asp-controller="Comments" asp-action="Create" method="post">
            @Html.Hidden("PostId", Model.Id)
            
            <div class="col-form-label">
                <label class="h2 col-form-label fw-bold">Add Comment</label>
            <textarea name="body" class="form-control" rows="10"></textarea> 
            </div>

            <button type="submit" class="btn btn-dark col-12">Submit</button>
        </form>
    }
    else
    {
        <a class="btn col-12 btn-dark btn-sm" asp-area="Identity" asp-page="/Account/Login" asp-route-ReturnUrl="~/Posts/Details?slug=@Model.Slug">LOG IN TO ADD COMMENTS</a>
    }
</div>

@* Display the image of the Comment's author *@


<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>